.ivu-poptip-confirm {
  .ivu-poptip-body {
    padding: 1.11rem 1.11rem 0.56rem;
  }
  .ivu-poptip-body-message {
    padding-left: 1.39rem;
  }
  .ivu-poptip-inner {
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.28rem;
    box-shadow: 0 0.07rem 0.42rem rgba(0, 0, 0, 0.2);
    white-space: nowrap;
  }
  .ivu-poptip-body {
    .ivu-icon {
      font-size: 1.11rem;
      color: #f90;
      line-height: 1.25rem;
      position: absolute;
    }
  }
  .ivu-poptip-footer {
    padding: 0.56rem 1.11rem 1.11rem;
    button {
      margin-left: 0.28rem;
      &.ivu-btn-small {
        padding: 0.07rem 0.49rem 0.14rem;
        font-size: 0.83rem;
        border-radius: 0.21rem;
      }
      &.ivu-btn-primary {
        background-color: #4974d3;
        border-color: #4974d3;
        transition: opacity 0.2s linear;
        &:hover {
          opacity: 0.8;
        }
      }
      &.ivu-btn-text {
        &:hover {
          color: #4974d3;
          background-color: #fff;
          border-color: transparent;
        }
      }
    }
  }
  &.ivu-poptip-popper {
    min-width: 10.42rem;
    font-size: 0.83rem;
    &[x-placement^="top"] {
      padding: 0.49rem 0 0.69rem 0;
      .ivu-poptip-arrow {
        bottom: 0.21rem;
        border-width: 0.49rem 0.49rem 0;
        border-top-color: rgba(217, 217, 217, 0.5);
        &::after {
          content: " ";
          bottom: 0.07rem;
          margin-left: -0.49rem;
          border-bottom-width: 0;
          border-top-width: 0.49rem;
          border-top-color: #fff;
        }
      }
    }
    &[x-placement^="bottom"] {
      padding: 0.69rem 0 0.49rem 0;
      .ivu-poptip-arrow {
        top: 0.21rem;
        border-width: 0 0.49rem 0.49rem;
        border-bottom-color: rgba(217, 217, 217, 0.5);
        &::after {
          content: " ";
          top: 0.07rem;
          margin-left: -0.49rem;
          border-top-width: 0;
          border-bottom-width: 0.49rem;
          border-bottom-color: #fff;
        }
      }
    }
    &[x-placement="top"] {
      .ivu-poptip-arrow {
        margin-left: -0.49rem;
      }
    }
    .ivu-poptip-arrow {
      border-width: 0.56rem;
      &::after {
        border-width: 0.49rem;
      }
    }
  }
}
