@mixin no-border-table {
  /deep/ .ivu-table-wrapper {
    border: none;
    .ivu-table {
      font-size: $size-main;
      &::before,
      &::after {
        content: none;
      }
      td,
      th {
        height: 2.22rem;
      }
      td {
        border-bottom: none;
        color: #666666;
      }
    }
    th {
      border-width: 0.07rem;
      height: 2.22rem;
      background: none;
      color: $black-1;
      font-weight: normal;

      .ivu-table-sort {
        width: 0.97rem;
        height: $size-main;
        margin-top: -0.07rem;

        i {
          height: 0.42rem;
          line-height: 0.42rem;
          font-size: 1.11rem;

          &.on {
            color: $blue-2;
          }
        }
      }
    }
    td,
    th {
      &.ivu-table-column-left {
        text-align: left;
      }

      &.ivu-table-column-right {
        text-align: right;
      }
    }
    .ivu-table-cell {
      padding: 0 0.97rem;
      .ivu-input-wrapper > input {
        text-align: left;
      }
      .input-error {
        > input {
          border-color: #ed4014;
        }
      }
    }

    .ivu-checkbox-wrapper {
      font-size: $size-main;

      .ivu-checkbox-inner {
        width: 0.97rem;
        height: 0.97rem;
        border-width: 0.07rem;
        border-radius: 0.14rem;

        &::after {
          content: "";
          display: table;
          width: 0.28rem;
          height: 0.56rem;
          position: absolute;
          top: 0.07rem;
          left: 0.28rem;
          border: 0.1rem solid #fff;
          border-top: 0;
          border-left: 0;
          transform: rotate(45deg) scale(1);
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .ivu-table-body,
    .ivu-table-tip {
      overflow-x: hidden;
    }
  }
}
